.container {
  padding: 1rem;
}
.main-heading {
  text-align: center;
}
.MuiDivider-root::before,
.MuiDivider-root::after {
  border-color: #ffd700 !important;
}
.MuiChip-root {
  background-color: #ffd700 !important;
}
#demo-simple-select-helper-label {
  color: #ffd700;
}
#demo-simple-select-helper {
  color: #ffd700;
}
.MuiOutlinedInput-notchedOutline {
  border-color: #ffd700 !important;
}
.MuiSvgIcon-root {
  color: #ffd700 !important;
}
.Mui-focused {
  color: #ffd700 !important;
}
